 
<div class="container">
        <div class="row">
            {{#if quizIdError }}
              <h5 class="text-danger"> {{quizIdError}} </h5>
            {{else unless dbQuestion}}
              <h4> Questions to delete from Quiz</h4> 
              <h5>{{successMessage}}</h5>             
            {{/if}} 

              <div class="card p-4 mb-4 w-100">
                  <div class="card-block">
                    <div class="card-title w-100 text-white p-2 bg-info">
                        {{#if quiz_name}}
                          <div class="d-flex justify-content-start w-100"> 
                            <h2>{{quiz_name}}</h2>
                            <h2 class="ml-auto">Quiz: {{quizId}}</h2>
                          </div>                 
                        {{/if}}                
                    </div>      
                  {{#if dbQuestion}}                                 
                    {{#each dbQuestion}}
                    <div class="row d-flex align-content-center h-100"">
                          <div class="col-lg-3 d-inline-flex justify-content-end mt-2 h-50">
                                <button type="button" class="btn btn-outline-warning ml-2 editQuestion" data-id="{{this.dataValues.id}}" data-toggle="modal" data-target="#modalEditQuestion">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>                               
                                  <form action="/deleteQuestion" method="POST" class="">
                                  <input type="hidden" name="questionId" value="{{this.dataValues.id}}" />
                                    <button type="submit" class="btn btn-outline-danger ml-2 h-100">
                                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button> 
                                  </form>                                 
                                  <button type="submit" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#modalQuestion">
                                      <i class="fa fa-plus" aria-hidden="true"></i>
                                  </button> 
                          </div>                       
                          <div class="col-lg-9 borders">
                            <h5 class="w-100" id="question_{{this.dataValues.id}}">Q: {{this.dataValues.Question}}</h5>
                            <h5 class="w-100" id="answer_{{this.dataValues.id}}">A: {{this.dataValues.Answer}}</h5>
                          </div>                         
                    </div>
                    {{/each }} 
                  {{/if}}                                     
                  </div> <!-- card-block -->
              </div> <!-- card  -->         
</div> <!-- container -->
<script src="/assets/js/editQuestions.js"></script>
