<div class="container">
        <div class="row">
            {{#if quizIdError }}
              <h5 class="text-danger"> {{quizIdError}} </h5>
            {{else unless dbQuestion}}
              <h4> Questions to delete from Quiz</h4> 
              <h5>{{successMessage}}</h5>             
            {{/if}} 

              <div class="card p-4 mb-4 w-100">
                  <div class="card-block">
                    <div class="card-title w-100 text-white p-2 bg-info">
                        {{#if quiz_name}}
                          <div class="d-flex justify-content-start w-100"> 
                            <h2>{{quiz_name}}</h2>
                            <h2 class="ml-auto">Quiz: {{quizId}}</h2>
                          </div>                 
                        {{/if}}                
                    </div>      
                  {{#if dbQuestion}}                                 
                    {{#each dbQuestion}}
                    <div class="row">
                      <div class="col-6">
                          <div class="card-text d-flex w-100 align-content-center justify-content-end">                                    
                              <span><h5 class="align-text-middle text-right">{{this.dataValues.Question}}</h5></span>
                          </div>
                      </div>
                      <div class="col-6 d-flex align-content-center">
                          <div class="card-text d-flex w-75 align-items-center justify-content-start">                                     
                              <span class="w-100"><input type="text" value="{{this.dataValues.Answer}}" class="w-100"></span>
                              <span>
                                <form action="/deleteQuestion" class="w-100"  method="POST">
                                <input type="hidden" name="questionId" value="{{this.dataValues.id}}" />
                                  <button type="submit" class="btn btn-danger ml-2">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  </button> 
                                </form>                                 
                              </span>
                          </div>
                      </div>
                    </div>
                    {{/each }} 
                  {{/if}}                                     
                  </div> <!-- card-block -->
              </div> <!-- card  -->         
</div> <!-- container -->