 
<div class="container">
        <div class="row">
            {{#if quizIdError }}
              <h5 class="text-danger"> {{quizIdError}} </h5>
            {{else unless dbQuestion}}
              <h5>{{successMessage}}</h5>             
            {{/if}} 

              <div class="card p-4 mb-4 w-100">
                  <div class="card-block">
                    <div class="card-title w-100 text-white p-2 bg-info">
                        {{#if quiz_name}}
                          <div class="d-flex justify-content-between w-100"> 
                            <h2 id="quiz_name">{{quiz_name}}
                                <button type="button" class="btn btn-secondary ml-2 editQuizName btn-link btn-sm text-white" data-id="{{quizId}}" data-toggle="modal" data-target="#modalEditQuizName">
                                    <i class="fa fa-edit fa-2x" aria-hidden="true"></i> 
                                </button>
                            </h2>
                            <h2>Quiz: {{quizId}}</h2>
                            <button type="button" class="btn btn-link btn-sm text-white ml-2 h-50" data-toggle="modal" data-target="#modalQuestion" id="addQuestion" data-quizid={{quizId}}>
                                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                            </button>                         
                          </div>                 
                        {{/if}}                
                    </div>      
                  {{#if dbQuestion}}                                 
                    {{#each dbQuestion}}
                    <div class="row d-flex align-content-center h-100"">
                          <div class="col-lg-3 d-inline-flex justify-content-end mt-2 h-50">
                                <button type="button" class="btn btn-outline-warning ml-2 editQuestion" data-id="{{this.dataValues.id}}" data-toggle="modal" data-target="#modalEditQuestion">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>                               
                                  <form action="/deleteQuestion" method="POST">
                                  <input type="hidden" name="quizId" value="{{this.dataValues.Quiz.id}}"/>
                                  <input type="hidden" name="quiz_name" value="{{this.dataValues.Quiz.quiz_name}}"/>  
                                  <input type="hidden" name="userId" value="{{this.dataValues.Quiz.UserId}}"/>                 
                                  <input type="hidden" name="questionId" value="{{this.dataValues.id}}" />
                                    <button type="submit" class="btn btn-outline-danger ml-2 h-100">
                                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button> 
                                  </form>                                 
                          </div>                       
                          <div class="col-lg-9 borders">
                            <h5 class="w-100" id="question_{{this.dataValues.id}}">Q: {{this.dataValues.Question}}</h5>
                            <h5 class="w-100" id="answer_{{this.dataValues.id}}">A: {{this.dataValues.Answer}}</h5>
                          </div>                         
                    </div>
                    {{/each }} 
                  {{/if}}                                     
                  </div> <!-- card-block -->
              </div> <!-- card  -->         
</div> <!-- container -->
<script src="/assets/js/editQuestions.js"></script>
