<div class="jumbotron m-0 bg-info">
  <div class="d-flex justify-content-center align-items-center">
    <img class="logo" src = "/assets/img/quatro_logo.png">
  </div>
  <p class="lead text-center">You've Got Questions... And You've Got Answers</p>
  <hr class="my-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cms">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quiz">Take A Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/survey">Take A Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apiInfo">API Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-userid={{userId}} data-username={{userName}} aria-haspopup="true" aria-expanded="false">Welcome, {{userName}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="item1" href="/">Sign Out</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="item2" href="/cantDoThatHaHa">Un-Register</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <div class="row">
    <div class="col-2">
      <div class="vertical-menu ml-4 mt-2">
        <a href="/createQuizzes">Create a Quiz</a>
        <form action="/viewQuizzes" method="GET">
          <input name="id" class="userId" value="{{userId}}" type="hidden">
          <a href="/viewQuizzes/{{userID}}" id="viewQuizzes" type="submit">View Quizzes</a>
        </form>
      </div>
    </div>
    <div class="col">
      <div id="menuContent">
        {{#if successMessage}}
          <h3 class="text-center">{{successMessage}}</h3>
        {{ else if errorMessage}}
          <h3 class="text-center">{{errorMessage}}</h3>
        {{/if}}
        {{#if viewQuiz}}        
          {{#>viewQuizzes }}
          {{/viewQuizzes }}
        {{ else if createQuiz}}
          {{#>createQuizzes }}
          {{/createQuizzes }}
        {{ else if editQuestions}}
          {{#if loginError}}
            <h3 class="text-center">{{loginError}}</h3> <!-- if no questions returned, edit quiz -->
            {{#>editQuiz}}
            {{/editQuiz}}             
          {{else}}
            {{#>editQuestions}}
            {{/editQuestions}}  
          {{/if}}
        {{/if}}  
      </div>
    </div>
  </div>

<div class="modal fade" id="modalQuestion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a Question to Quiz ID: {{quizId}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/addQA" method="POST">
          <input type="hidden" name="quizId"/>
          <input type="text" placeholder="enter question here" name="question" class="w-100" id="modalQuestion"/>
          <input type="text" placeholder="enter answer here" name="answer" class="w-100" id="modalanswer"/>          
          <button type="submit" class="btn btn-outline-primary center-block mt-4">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditQuestion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit a Question to Quiz ID: {{quizId}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/editQuestion" method="POST" class="w-100">
          <input type="hidden" name="quizId" value="{{quizId}}"/>
          <input type="hidden" name="id" id="editModalQuestionId"/>

          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Q</div>
            <input type="text" placeholder="enter question here" name="question" class="w-100" id="editModalQuestion"/>
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">A</div>
            <input type="text" placeholder="enter answer here" name="answer" class="w-100" id="editModalAnswer"/>   
          </div>

          <div class="d-flex justify-content-center w-100">
            <button type="submit" class="btn btn-outline-primary mt-4">Save changes</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditQuizName">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Quiz name for Quiz ID: {{quizId}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/editQuestion" method="POST" class="w-100">
          <input type="hidden" name="quizId" value="{{quizId}}" />
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Quiz Name</div>
          <input type="text" placeholder="enter quiz name here" name="quiz_name" class="w-100" id="editModalQuizName"/> 
          </div>
          <div class="d-flex justify-content-center w-100">     
            <button type="submit" class="btn btn-outline-primary mt-4">Save changes</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/cms.js"></script>
